.search-page {
    padding: 0px 24px;
}

.near-store {
    padding: 24px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.near-store__header {
    font-size: small;
    color: gray;
}

.near-store__body {
    font-size: small;
    color: gray;
    text-align: end;

}

.near-store__map {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    border-radius: 20px;
    margin: 40px 0px;
}

.Recommended-bundle {
    padding: 24px 0px;
}

.Recommended-bundle__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    font-size: small;
}

.Recommended-bundle__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.Recommended-bundle__card__subtitle {
    margin-top: 8px;
    opacity: 0.5;
}

.Recommended-bundle__card__subtitle:last-child {
    margin-top: 24px;
    opacity: 0.5;
}

.Recommended-bundle__card__img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 20px;
}

.Recommended-bundle__card_column {
    position: relative;
}

.Recommended-bundle__card__count{
    position: absolute;
    display: flex;
    width: 60px;
    bottom: 16px;
    right: 8px;
    font-size: small;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    justify-content: space-between;
    align-content: center;
    padding: 8px 24px;
    border-radius: 20px;
}