.badge {
    margin: 8px;
    font-size: small;
    color: whitesmoke;
    background-color: tomato;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}