

.foods-component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.foods-component i {
    margin-left: 8px;
}

.foods-component__food-img {
    border-radius: 40%;
    width: 80px;
    height: 80px;
    margin-right: 16px;
    object-fit: cover;
}

.foods-component__food-img--sm {
    width: 70px;
    height: 70px;
}

.foods-component__column:first-child {
    display: flex;
    align-items: center;
}

.foods-component__column:last-child {
    display: flex;
    align-items: center;
    color: darkgray;
}

.foods-component__food-name__title {
    font-size: 18pt;
}

.foods-component__food-name__title--sm {
    font-weight: 300;
}

.foods-component__food-name__subtitle {
    color: darkgray;
    margin-top: 8px;
}

